
/*
========
ROOT CSS
========
*/

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url('../fonts/Quicksand/static/Quicksand-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Fira Code', monospace;
  src: url('../fonts/Fira_Code/static/FiraCode-Bold.ttf') format('opentype');
}

:root[data-theme="light"] {
  --text: #000000;
  --bg: #ffffff;
  --primary: #2f7fd0;
  --secondary: #e8e8e8;
  --accent: #006652;
  --static: rgba(225, 225, 225, 0.5);
  --static2: #0f0f0f;
  --static3: rgb(255, 255, 255);
  --static4: rgba(225, 225, 225, 0.2);
  --static5: rgb(24, 172, 122);
  --static6: rgba(0, 0, 0, 0.05);
  --static7: rgba(0, 0, 0, 0.1);
  --static8: rgba(0, 0, 0, 0.05);
  --static9: rgba(0, 0, 0, 0.3);
  --static10: rgba(225, 225, 225);
  --static11: rgba(0, 0, 0, 0.03);
  --static12: rgba(255, 255, 255, 0.8);
  --static13: rgb(235, 235, 235);
  --static14: rgba(0, 0, 0, 0.2);
  --static15: rgba(255, 255, 255, 0.5);
  --textcontrast: #64d97b;
  --bgcontrast: #64d97b;
  --primarycontrast: #ffdd00;
  --secondarycontrast: #64d97b;
  --accentcontrast: #ffdd00;

  --error: #D74242;
  --warning: #EF7918;
  --success: #418944;
  --info: #1893D5;
  --error-bg: #FDEDED;
  --warning-bg: #FFF4E5;
  --success-bg: #EDF7ED;
  --info-bg: #E5F6FD;
}

:root[data-theme="dark"] {
  --text: #ffffff;
  --bg: #000000;
  --primary: #2f7fd0;
  --secondary: #171717;
  --accent: #99ffeb;
  --static: rgba(0, 0, 0, 0.5);
  --static2: rgb(240, 240, 240);
  --static3: rgb(22, 22, 22);
  --static4: rgba(225, 225, 225, 0.2);
  --static5: rgb(24, 172, 122);
  --static6: rgba(255, 255, 255, 0.15);
  --static7: rgba(255, 255, 255, 0.1);
  --static8: rgba(255, 255, 255, 0.05);
  --static9: rgba(255, 255, 255, 0.3);
  --static10: rgb(40, 40, 40);
  --static11: rgba(255, 255, 255, 0.03);
  --static12: rgba(0, 0, 0, 0.8);
  --static13: rgb(40, 40, 40);
  --static14: rgba(255, 255, 255, 0.2);
  --static15: rgba(0,0,0, 0.5);
  --textcontrast: #64d97b;
  --bgcontrast: #64d97b;
  --primarycontrast: #ffdd00;
  --secondarycontrast: #64d97b;
  --accentcontrast: #64d97b;

  --error: #DE3E32;
  --warning: #E89823;
  --success: #5DAB61;
  --info: #26A6E0;
  --error-bg: #160B0B;
  --warning-bg: #191207;
  --success-bg: #0C130D;
  --info-bg: #071318;
}

:root {
  font-family: 'Poppins', ui-sans-serif;;
  --font-scale: 1.333;
  --h1: calc(var(--h2) * var(--font-scale));
  --h2: calc(var(--h3) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h5: calc(var(--p) * var(--font-scale));
  --p: 1rem;
  --small: calc(var(--p) / var(--font-scale));
  --margin-lg: 0 12%;
  --margin-md: 0 12%;

  --black: #000000;
  --white: #ffffff;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Poppins', ui-sans-serif;
  }
}


/*
=============
SCROLLBAR CSS
=============
*/

::-webkit-scrollbar {
  margin-left: 1em;
  width: 8px;
  height: 3px;
  background-color: rgba(131, 131, 131, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(129, 129, 129, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(129, 129, 129, 0.9);
}


/*
==========
GLOBAL CSS
==========
*/

* {
  box-sizing: border-box;
  scroll-padding-top: 3em;
  padding: 0;
  margin: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: var(--margin-lg);
  width: auto !important;
  color: var(--text);
  background-color: var(--bg);
  scroll-behavior: smooth;
  overflow-x: hidden;
  line-height: 1.75;
  position: relative;
}

@media screen and (max-width: 1500px) {
  body {
    margin: var(--margin-md);
  }
}

@media screen and (max-width: 1000px) {
  body {
    gap: 2em;
    margin-top: 6em;
  }
}

.small {
  font-size: var(--small) !important;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5;
  margin: 0;
}

p,
small,
a,
li,
table {
  line-height: 2.25;
  margin: 0;
}

/* text styles */

h1 {
  font-size: var(--h1);
  letter-spacing: 0;
  font-weight: 700;
}

h2 {
  font-size: var(--h2);
  letter-spacing: 0;
  font-weight: 700;
}

h3 {
  font-size: var(--h3);
  font-weight: 700;
}

h4 {
  font-size: var(--h4);
  font-weight: 700;
}

h5 {
  font-size: var(--h5);
  font-weight: 400;
}

a {
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}

p {
  font-size: var(--p);
  letter-spacing: normal;
  text-align: left;
}

::selection {
  background-color: var(--accent);
}

li {
  font-size: var(--p);
  margin-top: 0.2rem;
}

pre {
  font-size: var(--p);
}

small {
  font-size: var(--small);
}

button {
  font-size: var(--p);
}

.paragraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}

.link {
  font-size: inherit;
  background-position-y: -0%;
  background-image: linear-gradient(180deg, transparent 50%, var(--accent) 50%) !important;
  transition: all 0.1s ease;
  background-size: 2px;
  background-size: auto 190%;
  padding: 3px 0;
}

.link:hover {
  background-position-y: 5%;
  transition: all 0.1s ease;
}

.link.reversed {
  background-position-y: -0%;
  background-image: linear-gradient(180deg, transparent 50%, var(--text) 50%) !important;
  transition: all 0.1s ease;
  background-size: 2px;
  background-size: auto 190%;
  padding: 3px 0;
}

.link.reversed:hover {
  background-position-y: 5%;
  transition: all 0.1s ease;
}

.utility-link {
  background-image: linear-gradient(180deg, transparent 50%, var(--static7) 50%) !important;
  color: var(--static2);
  font-size: inherit;
}

.utility-link:hover {
  background-image: linear-gradient(180deg, transparent 50%, var(--static7) 50%) !important;
  color: var(--static2);
}

/* buttons */
.primary-button {
  padding: 0.5em 2em;
  background-color: var(--primary);
  color: var(--bg);
  border-radius: 6px;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  display: inline-block;
  font-size: var(--p);
  z-index: 2;
  white-space: nowrap;
}

.primary-button:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--primary);
}

.secondary-button {
  padding: 0.5em 2em;
  background-color: var(--secondary);
  color: var(--text);
  border-radius: 6px;
  display: inline-block;
  font-size: var(--p);
  z-index: 1;
  cursor: pointer;
  transition: transform ease 0.2s;
  white-space: nowrap;
}

.secondary-button:hover {
  transform: translate(0, -3px);
  transition: transform ease 0.2s;
}

@media screen and (max-width: 1000px) {
  .primary-button, .secondary-button {
    text-align: center;
  }
}


/*
============
ROOT-DIV CSS
============
*/

.root {
  display: contents;
}