
{% load static %}

<div class="footer">
  <div class="footer-container" id="footer">
    <div class="logo">
      <img src="{% static 'icons/favicon.png' %}" alt="logoface" class="logoface" />
      <a href="/">
        <p class="sitename reversed">
          AuthJS
        </p>
      </a>
    </div>
    
    <div class="footer-cols">
      <div class="footer-col">
        <p style="margin: 0px;">
          Simple authentication.
        </p>
        <div class="btn-container">
          <a class="support-button"
             title="Support Dev"
             href="/support-dev"
             target="_blank"
             style="background-color: rgb(26, 26, 26);"
          >
            <span class="support-text">
              <img class="support-img"
                   src="{% static 'icons/favicon.png' %}"
                   alt="Support Dev"
              />
              Support Dev
            </span>
          </a>
        </div>
      </div>
        
      <div class="footer-col">
        <div class="reversed menu-item-header">
          LEGAL
        </div>
        <a href="/about-us"
            class="menu-item reversed"
        >
          About Us
        </a>
        <a class="menu-item exclude"
            href="/contact-us"
        >
          Contact Us
        </a>
        <a class="menu-item reversed"
            href="/terms"
        >
          Terms of service
        </a>
        <a class="menu-item reversed"
            href="/privacy-policy"
        >
          Privacy Policy
        </a>
      </div>
        
      <div class="footer-col">
        <div class="reversed menu-item-header">
          LET'S CONNECT
        </div>
        <a class="menu-item reversed"
            href="https://www.youtube.com/"
            target="_blank"
        >
          Youtube
        </a>
        <a class="menu-item reversed exclude"
            href="https://www.twitter.com/"
            target="_blank"
        >
          Twitter
        </a>
        <a class="menu-item reversed exclude"
            href="https://facebook.com/"
            target="_blank"
        >
          Facebook
        </a>
        <a class="menu-item reversed exclude"
            href="https://instagram.com/"
            target="_blank"
        >
          Instagram
        </a>
      </div>
    </div>

    <div style="width: 100%; height: 1px; background-color: var(--text); opacity: 0.1; margin-top: 1em;"></div>
  
    <div>
      <p>
        Made by
        <a class="link reversed exclude"
           href="https://twitter.com/AbdelhamidMa23/"
           target="_blank"
        >
          @AbdelhamidMa23
        </a>
      </p>

      <p>
        Inspired by
        <a class="link reversed exclude"
           href="https://www.realtimecolors.com/"
           target="_blank"
        >🌐</a>
        <a class="link reversed exclude"
           href="https://twitter.com/juxtopposed/"
           target="_blank"
        >
          @Juxtopposed
        </a>
      </p>
      <small>
        Copyright © 2023 All Rights Reserved.
        <a class="link reversed exclude"
           href="https://github.com/Abdev23/AUTH_JS/blob/main/README.md"
           target="_blank"
        >
          auth-js
        </a>
      </small>
    </div>
  </div>
</div>