
{% load static %}

<div class="navbar">
  <div class="logo">
    <a href="/" class="logo">
      <img src="{% static 'icons/favicon.png' %}"
           alt="logoface"
           class="logoface"
      />
      <p class="sitename">
        AuthJS
      </p>
    </a>
  </div>

  <div class="ham-menu">
    <button id="hamburger"
            class=""
    >
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="menu hide">
    <a class="menu-item menu-item-mobile"
       href="home"
    >
      home
    </a>
    <a class="menu-item menu-item-mobile exclude"
       href="login"
    >
      Login
    </a>
    <a class="menu-item menu-item-mobile"
       href="signup"
    >
      Sign up
    </a>

    <div class="dropdown">
      <button class="dropbutton">
        Language&nbsp;
        <svg stroke="currentColor" fill="currentColor"
             stroke-width="0" viewBox="0 0 512 512"
             height="1em" width="1em"
             xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z"
          ></path>
        </svg>
      </button>

      <div class="dropdown-content">
        <a href="/" class="menu-item-mobile">English</a>
        <a href="/lang/sp" class="menu-item-mobile">Spanish</a>
        <a href="/lang/fr" class="menu-item-mobile">Frensh</a>
      </div>
    </div>
  </div>
</div>