
{% load static %}

<div class="sidebar">
  <div class="sidebar-elements sidebar-logo">
    <div class="sidebar-element">
      <a class="sidebar-element-link" href="#">
        <div class="icon-wrapper">
          <img src="{% static 'icons/favicon.png' %}"
               alt="logoface"
               class="logoface"
          />
        </div>
        <div class="text-wrapper">AuthJS</div>
      </a>
    </div>
  </div>

  <hr class="separator"/>

  <div class="sidebar-elements elements-1">
    <div class="sidebar-element active">
      <a class="sidebar-element-link notification" href="#">
        <div class="icon-wrapper">
          <i class="fa fa-home"></i>
          <div class="notification notification-dot"></div>
        </div>
        <div class="text-wrapper">Home</div>
        <span class="tool-tip">Home</span>
      </a>
    </div>

    <div class="sidebar-element">
      <a class="sidebar-element-link" href="#">
        <div class="icon-wrapper">
          <i class="fa fa-message"></i>
        </div>
        <div class="text-wrapper">Messages</div>
        <span class="tool-tip">Messages</span>
      </a>
    </div>

    <div class="sidebar-element">
      <a class="sidebar-element-link" href="#">
        <div class="icon-wrapper">
          <i class="fa fa-newspaper"></i>
        </div>
        <div class="text-wrapper">Posts</div>
        <span class="tool-tip">Posts</span>
      </a>
    </div>

    <div class="sidebar-element">
      <a class="sidebar-element-link" href="#">
        <div class="icon-wrapper">
          <i class="fa fa-bookmark"></i>
        </div>
        <div class="text-wrapper">Bookmarks</div>
        <span class="tool-tip">Bookmarks</span>
      </a>
    </div>

    <div class="sidebar-element">
      <a class="sidebar-element-link notification" href="#">
        <div class="icon-wrapper">
          <i class="fa fa-bell"></i>
          <div class="notification notification-number">5</div>
        </div>
        <div class="text-wrapper">Notifications</div>
        <span class="tool-tip">Notifications</span>
      </a>
    </div>

    <div class="sidebar-element">	
      <a class="sidebar-element-link" href="#">
        <div class="icon-wrapper">
          <i class="fa fa-gear"></i>
        </div>
        <div class="text-wrapper">Settings</div>
        <span class="tool-tip">Settings</span>
      </a>
    </div>
  </div>

  <hr class="separator"/>

  <div class="sidebar-elements elements-2">
    <div class="sidebar-element logout">
      <a class="sidebar-element-link" href="#">
        <div class="icon-wrapper">
          <i class="fa fa-right-from-bracket"></i>
        </div>
        <div class="text-wrapper">Logout</div>
        <span class="tool-tip">Logout</span>
      </a>
    </div>

    <!-- <div class="sidebar-element">
      <a class="sidebar-element-link" href="#">
        <div class="icon-wrapper">
          <i class="fa fa-user"></i>
        </div>
        <div class="text-wrapper">profile</div>
        <span class="tool-tip">Profile</span>
      </a>
    </div> -->

    <div class="sidebar-element profile">
      <a class="sidebar-element-link" href="#">
        <div class="icon-wrapper">
          <img src="{% static 'images/profile.jpg' %}" alt="profileImg" class="profile-img" />
        </div>
        <div class="text-wrapper">@Am1ne_</div>
        <span class="tool-tip">Am1ne_</span>
      </a>
    </div>
  </div>
</div>